/* Universal and Base Styles */
* {
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100%;
    background-image: url('../img/space.jpeg');
    background-position: center;
}

main {
  background-color: #e2e2e2;
}

h1 {
  margin: 0;
}

h2 {
  padding-top: 1.5rem;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-family: copperplate;
  margin-bottom: 0;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  text-align: center;
}

footer .copyright {
  top: -8px;
  margin-right: 20px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

footer ul li {
  display: inline-block;
}


/* Navbar */
nav {
  display: flex;
  flex-wrap: nowrap;
  text-align: end;  
  margin-left: auto;
}

.navbar {
    display: flex;
    opacity: .7;
}

.navbar-nav {
  margin-right: 10px;
  font-size: 1.2rem;
}

.navbar-toggler-icon {
  justify-content: end;
}

.nav-link {
  font-size: .8rem;
  padding: 0 20px;
  color: white;
}

/* Class Styles */
.header-container {
  display: flex;
  padding-top: 1rem;
}
.rocket-icon {
  height: 55px;
  width: 55px;
  opacity: 1;
  margin-left: 10px;
}

.rocket-icon:hover {
  transform: rotate(120deg);
  transition-duration: 1s;
}

.selector {
  margin: 5px 0 0 -2px;
}

.main-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  flex-basis: 100%;
  max-width: 375px;
  margin: 1rem 1.5rem;
  text-align: center;
}

.project-img {
  padding: 7px;
  max-height: 225px;
}

.contact {
  display: flex;
  height: 300px;
  background-image: url(../img/contact.png);
  background-position: center;
  border-radius: 10px;
  opacity: .5;
  max-width: 750px;
}

.quote {
  display: flex; 
  justify-content: center;
}

.footer-container {
  margin-right: 25px;
}

/* Links */
a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .8;
  transition: all .25s;
}

a.twitter {
  background-image: url(../img/twitter.svg);
}

a.linkedin {
  background-image: url(../img/linkedin.svg);
}

a.github {
  background-image: url(../img/github.svg);
}

a.social:hover {
  opacity: 1;
  transform: scale3d(1.3, 1.3, 1.3);
}

/*************** Modal ***************/
.modal {
  display: none; 
  position: fixed; 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    margin-left: auto;
  }
}